* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo-image {
    width: 50px;
    margin-right: 20px;
    height: 50px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 120px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    text-align: center;
}

#note-title {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

#editor {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #0056b3;
}

.settings {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

#note-list {
    list-style-type: none;
    padding: 0;
}

.note-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #f1f1f1;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.note-item:hover {
    background-color: #e9ecef;
}

.note-item button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
}

.dark-mode {
    background-color: #333;
    color: #f9f9f9;
}

.dark-mode button {
    background-color: #555;
}

.dark-mode #editor {
    background-color: #444;
    color: #f9f9f9;
}

.dark-mode .note-item {
    background-color: #444;
}
