name: Deploy to FTP Server

on:
  push:
    branches:
      - master

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy Files to FTP Server
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: ftpupload.net
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        server-dir: /htdocs/
        local-dir: ./
        exclude: './draw.io/*'
        overwrite: true
        cleanup: false
        dry-run: false

    - name: Deploy .htaccess to FTP Server
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: ftpupload.net
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        server-dir: /
        local-dir: ./
        exclude: '**/*'
        include: '.htaccess'
        overwrite: true
        cleanup: false
        dry-run: false
